<!DOCTYPE html>
<html lang="en">

<head>
  <title>logout</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    .layoutform {
      width: 350px;
      height: 70px;
      background-color: white;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.9);
      padding: 0px 30px;
      margin: 2px auto 0 auto;
    }

    span {
      font-size: 20px;
    }

    img {
      height: 70px;
      width: 75px;
    }
  </style>
</head>

<body>

  <div class="layoutform">
    <img src="images/logout.jpg" alt="logout image">
    <span><em>Successfully logged out</em></span>
    <div class="">
      <h3></h3>
      <p>You can <a href="signup.html">return to the home page</a> or <a href="signin.html">sign in again</a>.</p>

    </div>

  </div>

</body>

</html>
